<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            Checkout stuff!
        </div>
        <div class="col-4">
            <div class="bg-light px-4 py-3 text-uppercase fw-bold">
                Porudzbina
            </div>
            <div class="p-4">
                <p class="fst-italic mb-4">asdasdasdasdasd s da ds asdasdasd  adfdf  dfasd</p>
                <ul class="list-unstyled mb-4">
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Order subtotal</strong>
                        <strong>{{porudzbina?.ukupanIznos}}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
