<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 ">
            <table class="table table-hover" style="cursor: pointer;">
                <thead>
                    <tr>
                        <th>Količina</th>
                        <th></th>
                        <th>Igrač</th>
                        <th>Tim</th>
                        <th>Sezona</th>
                        <th>Tip</th>
                        <th>Veličina</th>
                        <th>Cena dresa</th>
                        <th>Cena stavke</th>
                    </tr>
                </thead>
                <tbody *ngFor="let stavka of stavke">
                    <tr>
                        <td class="align-middle">{{stavka.brojStavki}}</td>
                        <td class="align-middle"><img src="{{stavka.velicinaDresa.dres.slikaUrl}}" width="35px" height="35px" ></td>
                        <td class="align-middle">{{stavka.velicinaDresa.dres.imeIgraca}}</td>
                        <td class="align-middle"><a class="text-decoration-none" style="color: black;">{{stavka.velicinaDresa.dres.tim}}</a></td>
                        <td class="align-middle">{{stavka.velicinaDresa.dres.sezona}}</td>
                        <td class="align-middle">{{stavka.velicinaDresa.dres.tip}}</td>
                        <td class="align-middle">{{stavka.velicinaDresa.velicinaDresaVrednost}}</td>
                        <td class="align-middle">{{formatPrice(stavka.velicinaDresa.dres.cena)}}<span> RSD</span></td>
                        <td class="align-middle">{{formatPrice(stavka.brojStavki * stavka.velicinaDresa.dres.cena)}}<span> RSD</span></td>
                        
                    </tr>
                </tbody>
               
            </table>
            
            
        </div>
        <div class="col-4">
            <div class="bg-light px-4 py-3 text-uppercase fw-bold">
                Porudžbina
            </div>
            <div class="p-4">
                
                <ul class="list-unstyled mb-4">
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Iznos porudžbine: </strong>
                        <strong>{{ porudzbina?.ukupanIznos }} RSD</strong>
                    </li>
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Troškovi dostave: </strong>
                        <strong>300 RSD</strong>
                    </li>
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Ukupan iznos: </strong>
                        <strong>{{ porudzbina?.ukupanIznos }} RSD</strong>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
    </div>