.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: green;
    color: white;
    text-align: center;
    top: -13px;
    right: 32px;
    padding-top: 2px;
    padding-left: 2px;
}