<carousel [isAnimated]="true">
    <slide>
        <img src="/assets/images/9e8aa20b-3261-46d8-b45d-d89fe872c1e0__1600X652.jpg" alt="slide" style="display: block; width: auto;">
    </slide>
    <slide>
        <img src="/assets/images/83dfa619-6132-4532-9b88-e79d8f4062a7__1600X652.jpg" alt="slide" style="display: block; width: auto;">
    </slide>
    <slide>
        <img src="/assets/images/621b477c-9c8a-4938-8e24-1e2103a6c043__1600X652.webp" alt="slide" style="display: block; width:auto">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Dobrodošli na prvi zvanični sajt za prodaju fudbalskih dresova u Srbiji!</h1>
    </div>
</section>
