<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/download.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/download (1).jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/images (1).jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Dobrodošli na prvi zvanični sajt za prodaju fudbalskih dresova u Srbiji!</h1>
    </div>
</section>
